@model List<Day3StarWars.Models.BountyHunter>
<h2>Bounty Hunter</h2>
@foreach (var Hunter in Model)
{
    <p>Name: @Hunter.Name</p>
    <p>Species: @Hunter.Species</p>
    <p>Gender: @Hunter.Gender </p>
    <p>Weapon Type: @Hunter.WeaponType</p>
}